{% extends "base.html" %}
{% block title %}
    {{super()}}
    Patient Profile - {{allergy.first_name}} {{allergy.middle_name}} {{allergy.last_name}}
{% endblock title%}

{% block page_content %}
<div class = "page-header">
	<h3>
		<a href = "{{url_for('profiles.patient_profile', patient_id = allergy.patient_id)}}">
			{{allergy.first_name}} {{allergy.middle_name}} {{allergy.last_name}}
		</a>
        </h3>
</div>
<div class = "list-group", style = 'margin:1%;'>
	<span class = "list-group-item">
		<h4 style = "color:red;"><b>{{allergy.description}}</b></h4>
			<h5 style = "color:maroon;"><b>Causes</b></h5>
			<p>{{ allergy.cause }}</p>
			{% if symptoms %}
			<h5 style = "color:maroon;"><b>Symptoms</b></h5>
			<ul>
				{% for symptom in symptoms %}
				<li>{{ symptom.description }}</li>
				{% endfor %}
			</ul>
			{% endif %}
			<h5 style = "color:maroon;"><b>Remedy</b></h5>
			<p>{{ allergy.remedy }}</p>
	</span>
</div>
<div class = "list-group", style = 'margin:1%;'>
	<span class = "list-group-item">
		<h4>Update Data</h4>
		{{ wtf.quick_form(allergy_form) }}
	</span>
</div>
<div class = "list-group", style = 'margin:1%;'>
	<span class = "list-group-item">
		<h4>Add Symptom</h4>
		{{ wtf.quick_form(symptom_form) }}
	</span>
</div>
{% endblock page_content %}
