{% extends "base.html" %}
{% block title %}
    {{super()}}
    Practitioner Profile - {{practitioner.first_name}} {{practitioner.middle_name}} {{practitioner.last_name}}
{% endblock title%}

{% block page_content %}
<div class = "page-header">
	<h3>
                {{practitioner.first_name}} {{practitioner.middle_name}} {{practitioner.last_name}}
        </h3>
	{% if practitioner.associated_image %}

	<img style = "width : 50%; height : auto;" class = "img img-rounded" src = "{{url_for('static', filename = 'profiles/practitioners/' + practitioner.associated_image)}}">
	
	{% endif %}
</div>
<blockquote class "blockquote" style = "padding-bottom : 5%;">
	<div class = "row">
		<div class = "col-sm-4"><h4>Name</h4></div>
		<div class = "col-sm-8"><h4 class = "text-muted">{{practitioner.first_name}} {{practitioner.middle_name}} {{practitioner.last_name}}</h4>
		</div>
	</div>
	<div class = "row">
		<div class = "col-sm-4"><h4>National ID number</h4></div>
		<div class = "col-sm-8"><h4 class = "text-muted">{{practitioner.national_id_no}}</h4></div>
	</div>
	<div class = "row">
		<div class = "col-sm-4"><h4>Date of Birth</h4></div>
		<div class = "col-sm-8"><h4 class = "text-muted">{{moment(practitioner.date_of_birth).format( 'LL')}} - {{moment(practitioner.date_of_birth).fromNow()}}</h4></div>
	</div>
	<div class = "row">
		<div class = "col-sm-4"><h4>Nationality</h4></div>
		<div class = "col-sm-8"><h4 class = "text-muted">{{practitioner.nationality}}</h4></div>
	</div>
	<div class = "row">
		<div class = "col-sm-4"><h4>Email address</h4></div>
                <div class = "col-sm-8"><h4 class = "text-muted">{{practitioner.email_address}}</h4></div>
        </div>
	
	<!-- Update practitioner profile image -->
	<p>
	<a class = "btn btn-primary pull-left" href = "{{ url_for('registration.upload_health_practitioner_image', health_practitioner_id = practitioner.practitioner_id) }}">Update Profile Image</a>
	<a class = "btn btn-primary pull-right" href = "">Update Profile</a>
        </p>
</blockquote>
<hr>
<div class = "container">
	<ul class = "nav nav-tabs">
		<li class = "active">
			<a href = "{{url_for('profiles.health_practitioner_personal', health_practitioner_id = practitioner.practitioner_id)}}">
				Personal
			</a>
		</li>
	</ul>
</div>

{% if tab_variable == 0 %}
{% endif %}
{% endblock page_content %}
