{% extends "base.html" %}
{% block title %}
    {{super()}}
    List of Patients
{% endblock title%}

{% block page_content %}
<div class "page-header">
	<h3>List of Patients</h3>
</div>
<div>
	<table class = "table table-hover table-responsive table-striped">
		<thead class = "thead thead-dark">
			<tr>
				<th>Patient ID</th>
				<th>National ID Number</th>
				<th>Name</th>
				<th>Marital Status</th>
				<th>Email Address</th>
				<th>Residential Address</th>
			</tr>
		</thead>
		<tbody>
			{% for patient in patients %}
			<tr>
				<td>
					<a href = "{{url_for('profiles.patient_profile', patient_id = patient.patient_id)}}">
						{{patient.patient_id}}
					</a>
				</td>
				<td>{{patient.national_id_no}}</td>
				<td>
					<a href = "{{url_for('profiles.patient_profile', patient_id = patient.patient_id)}}">
						{{patient.first_name}} {{patient.middle_name}} {{patient.last_name}}
					</a>
				</td>
				<td>{{patient.marital_status}}</td>
				<td>{{patient.email_address}}</td>
				<td>
					<a href = "http://maps.google.com/?{{ patient.location_address }}">
						{{patient.location_address}}
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class = "pagination">
	{{ macros.pagination_widget(pagination, 'profiles.list_of_patients')}}
</div>
{% endblock page_content %}
