{% extends "base.html" %}
{% block title %}
    {{super()}}
    Schedule Profile - {{schedule.department_schedule_id}}
{% endblock title%}

{% block page_content %}
<h3 style = "color:red;">{{ schedule.department_title }}</h3>
<div class = "list-group", style = 'margin:1%;'>
	<span class = "list-group-item">
		<h4 style = "color:maroon;">Details</h4>
		<p><b>Schedule ID : </b>{{ schedule.department_schedule_id }}</p>
		<p><b>Day: </b>{{ schedule.day }}</p>
		<p><b>Start Time: </b>{{ moment(schedule.start_time).format('HH:mm:ss A') }}</p>
		<p><b>End Time: </b>{{ moment(schedule.end_time).format('HH:mm:ss A') }}</p>
	</span>
</div>
<div class = "list-group", style = 'margin:1%;'>
	<span class = "list-group-item">
		<h4 style = "color:maroon;">Services</h4>
		<ul>
			{% for item in services %}
			<li>{{ item.title }}</li>
			{% endfor %}
		</ul>
	</span>
</div>
<div class = "list-group", style = 'margin:1%;'>
	<span class = "list-group-item">
		<h4>Update Data</h4>
		{{ wtf.quick_form(form) }}
	</span>
</div>
{% endblock page_content %}
