{% extends "base.html" %}
{% block title %}
    {{super()}}
    Registered Health Specialist Types
{% endblock title%}

{% block page_content %}
<div class "page-header">
	<h3>Registered Health Specialist Categories</h3>
</div>
<div>
	<table class = "table table-hover table-responsive table-striped">
		<thead class = "thead thead-dark">
			<tr>
				<th>Specialist</th>
				<th>Description</th>
			</tr>
		</thead>
		<tbody>
			{% for speciality in specialities %}
			<tr>
				<td>{{ speciality.title }}</td>
				<td>{{ speciality.description }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>

<div class = "pagination">
	{{ macros.pagination_widget(pagination, 'profiles.view_health_specialist_specialitys')}}
</div>
{% endblock page_content %}
