{% extends "base.html" %}
{% block title %}
    {{super()}}
    Register Health Center
{% endblock title%}

{% block page_content %}
<div class = "page-header">
	<h3>Register Health Center</h3>
</div>
<div>
	{{wtf.quick_form(form)}}
</div>
<div class = 'list-group' style = 'margin:1%;'>
	<a href = '{{url_for('profiles.view_health_centers')}}' class = 'list-group-item active'>
		<h4 class = 'list-group-item-header'>
			View all registered health centers
		</h4>
	</a>
</div>
{% endblock page_content %}
